    .div{
    
        text-align: center;     
    height: 200px;
    font-size: 100%;
    background-image: url("https://www.sistemafibra.org.br/senai/images/categorias/noticias/2015/sti.jpg");
    background-repeat: no-repeat;
    background-position: center;
        
}    

